[submodule "xcraft-core-fs"]
	path = xcraft-core-fs
	url = https://github.com/Xcraft-Inc/xcraft-core-fs.git
[submodule "xcraft-core-http"]
	path = xcraft-core-http
	url = https://github.com/Xcraft-Inc/xcraft-core-http.git
[submodule "xcraft-core-ftp"]
	path = xcraft-core-ftp
	url = https://github.com/Xcraft-Inc/xcraft-core-ftp.git
[submodule "xcraft-core-placeholder"]
	path = xcraft-core-placeholder
	url = https://github.com/Xcraft-Inc/xcraft-core-placeholder.git
[submodule "xcraft-core-platform"]
	path = xcraft-core-platform
	url = https://github.com/Xcraft-Inc/xcraft-core-platform.git
[submodule "xcraft-core-uri"]
	path = xcraft-core-uri
	url = https://github.com/Xcraft-Inc/xcraft-core-uri.git
[submodule "xcraft-core-log"]
	path = xcraft-core-log
	url = https://github.com/Xcraft-Inc/xcraft-core-log.git
[submodule "xcraft-core-env"]
	path = xcraft-core-env
	url = https://github.com/Xcraft-Inc/xcraft-core-env.git
[submodule "xcraft-core-process"]
	path = xcraft-core-process
	url = https://github.com/Xcraft-Inc/xcraft-core-process.git
[submodule "xcraft-core-utils"]
	path = xcraft-core-utils
	url = https://github.com/Xcraft-Inc/xcraft-core-utils.git
[submodule "xcraft-core-wizard"]
	path = xcraft-core-wizard
	url = https://github.com/Xcraft-Inc/xcraft-core-wizard.git
[submodule "xcraft-core-scm"]
	path = xcraft-core-scm
	url = https://github.com/Xcraft-Inc/xcraft-core-scm.git
[submodule "xcraft-core-subst"]
	path = xcraft-core-subst
	url = https://github.com/Xcraft-Inc/xcraft-core-subst.git
[submodule "xcraft-core-server"]
	path = xcraft-core-server
	url = https://github.com/Xcraft-Inc/xcraft-core-server.git
[submodule "xcraft-core-daemon"]
	path = xcraft-core-daemon
	url = https://github.com/Xcraft-Inc/xcraft-core-daemon.git
[submodule "xcraft-core-devel"]
	path = xcraft-core-devel
	url = https://github.com/Xcraft-Inc/xcraft-core-devel.git
[submodule "xcraft-core-buslog"]
	path = xcraft-core-buslog
	url = https://github.com/Xcraft-Inc/xcraft-core-buslog.git
[submodule "xcraft-core-busclient"]
	path = xcraft-core-busclient
	url = https://github.com/Xcraft-Inc/xcraft-core-busclient.git
[submodule "xcraft-core-bin"]
	path = xcraft-core-bin
	url = https://github.com/Xcraft-Inc/xcraft-core-bin.git
[submodule "xcraft-core-bus"]
	path = xcraft-core-bus
	url = https://github.com/Xcraft-Inc/xcraft-core-bus.git
[submodule "xcraft-core-activity"]
	path = xcraft-core-activity
	url = https://github.com/Xcraft-Inc/xcraft-core-activity.git
[submodule "xcraft-core-extract"]
	path = xcraft-core-extract
	url = https://github.com/Xcraft-Inc/xcraft-core-extract.git
[submodule "xcraft-core-eventstore"]
	path = xcraft-core-eventstore
	url = https://github.com/Xcraft-Inc/xcraft-core-eventstore.git
[submodule "xcraft-core-etc"]
	path = xcraft-core-etc
	url = https://github.com/Xcraft-Inc/xcraft-core-etc.git
[submodule "xcraft-core-goblin"]
	path = xcraft-core-goblin
	url = https://github.com/Xcraft-Inc/xcraft-core-goblin.git
[submodule "xcraft-server"]
	path = xcraft-server
	url = https://github.com/Xcraft-Inc/xcraft-server.git
[submodule "xcraft-materials"]
	path = xcraft-materials
	url = https://github.com/Xcraft-Inc/xcraft-materials.git
[submodule "xcraft-zog"]
	path = xcraft-zog
	url = https://github.com/Xcraft-Inc/xcraft-zog.git
[submodule "xcraft-dev-rules"]
	path = xcraft-dev-rules
	url = https://github.com/Xcraft-Inc/xcraft-dev-rules.git
[submodule "xcraft-core-host"]
	path = xcraft-core-host
	url = https://github.com/Xcraft-Inc/xcraft-core-host.git
[submodule "shellcraft"]
	path = shellcraft
	url = https://github.com/Xcraft-Inc/shellcraft.js.git
[submodule "xcraft-core-transport"]
	path = xcraft-core-transport
	url = https://github.com/Xcraft-Inc/xcraft-core-transport.git
