[submodule "xcraft-core-fs"]
	path = xcraft-core-fs
	url = ../xcraft-core-fs.git
[submodule "xcraft-core-ftp"]
	path = xcraft-core-ftp
	url = ../xcraft-core-ftp.git
[submodule "xcraft-core-placeholder"]
	path = xcraft-core-placeholder
	url = ../xcraft-core-placeholder.git
[submodule "xcraft-core-platform"]
	path = xcraft-core-platform
	url = ../xcraft-core-platform.git
[submodule "xcraft-core-uri"]
	path = xcraft-core-uri
	url = ../xcraft-core-uri.git
[submodule "xcraft-core-log"]
	path = xcraft-core-log
	url = ../xcraft-core-log.git
[submodule "xcraft-core-env"]
	path = xcraft-core-env
	url = ../xcraft-core-env.git
[submodule "xcraft-core-process"]
	path = xcraft-core-process
	url = ../xcraft-core-process.git
[submodule "xcraft-core-utils"]
	path = xcraft-core-utils
	url = ../xcraft-core-utils.git
[submodule "xcraft-core-wizard"]
	path = xcraft-core-wizard
	url = ../xcraft-core-wizard.git
[submodule "xcraft-core-scm"]
	path = xcraft-core-scm
	url = ../xcraft-core-scm.git
[submodule "xcraft-core-subst"]
	path = xcraft-core-subst
	url = ../xcraft-core-subst.git
[submodule "xcraft-core-server"]
	path = xcraft-core-server
	url = ../xcraft-core-server.git
[submodule "xcraft-core-daemon"]
	path = xcraft-core-daemon
	url = ../xcraft-core-daemon.git
[submodule "xcraft-core-devel"]
	path = xcraft-core-devel
	url = ../xcraft-core-devel.git
[submodule "xcraft-core-buslog"]
	path = xcraft-core-buslog
	url = ../xcraft-core-buslog.git
[submodule "xcraft-core-busclient"]
	path = xcraft-core-busclient
	url = ../xcraft-core-busclient.git
[submodule "xcraft-core-bin"]
	path = xcraft-core-bin
	url = ../xcraft-core-bin.git
[submodule "xcraft-core-bus"]
	path = xcraft-core-bus
	url = ../xcraft-core-bus.git
[submodule "xcraft-core-activity"]
	path = xcraft-core-activity
	url = ../xcraft-core-activity.git
[submodule "xcraft-core-extract"]
	path = xcraft-core-extract
	url = ../xcraft-core-extract.git
[submodule "xcraft-core-eventstore"]
	path = xcraft-core-eventstore
	url = ../xcraft-core-eventstore.git
[submodule "xcraft-core-etc"]
	path = xcraft-core-etc
	url = ../xcraft-core-etc.git
[submodule "xcraft-core-goblin"]
	path = xcraft-core-goblin
	url = ../xcraft-core-goblin.git
[submodule "xcraft-server"]
	path = xcraft-server
	url = ../xcraft-server.git
[submodule "xcraft-materials"]
	path = xcraft-materials
	url = ../xcraft-materials.git
[submodule "xcraft-zog"]
	path = xcraft-zog
	url = ../xcraft-zog.git
[submodule "xcraft-dev-rules"]
	path = xcraft-dev-rules
	url = ../xcraft-dev-rules.git
[submodule "xcraft-core-host"]
	path = xcraft-core-host
	url = ../xcraft-core-host.git
[submodule "shellcraft"]
	path = shellcraft
	url = ../shellcraft.js.git
[submodule "xcraft-core-transport"]
	path = xcraft-core-transport
	url = ../xcraft-core-transport.git
[submodule "xcraft-core-shredder"]
	path = xcraft-core-shredder
	url = ../xcraft-core-shredder.git
[submodule "startcraft"]
	path = startcraft
	url = ../startcraft.git
[submodule "xcraft-core-http"]
	path = xcraft-core-http
	url = ../xcraft-core-http.git
[submodule "xcraft-contrib-peon"]
	path = xcraft-contrib-peon
	url = ../xcraft-contrib-peon.git
[submodule "xcraft-contrib-pacman"]
	path = xcraft-contrib-pacman
	url = ../xcraft-contrib-pacman.git
[submodule "xcraft-contrib-wpkg"]
	path = xcraft-contrib-wpkg
	url = ../xcraft-contrib-wpkg.git
[submodule "xcraft-contrib-bootwpkg"]
	path = xcraft-contrib-bootwpkg
	url = ../xcraft-contrib-bootwpkg.git
[submodule "xcraft-contrib-bootcmake"]
	path = xcraft-contrib-bootcmake
	url = ../xcraft-contrib-bootcmake.git
[submodule "xcraft-core-horde"]
	path = xcraft-core-horde
	url = ../xcraft-core-horde.git
[submodule "axon"]
	path = xcraft-axon
	url = ../axon.git
[submodule "gigawatt"]
	path = gigawatts
	url = ../gigawatts.git
[submodule "xcraft-dev-prettier"]
	path = xcraft-dev-prettier
	url = ../xcraft-dev-prettier
